<%- include('./components/header.ejs', { title: "Connexion" }) %>

<main>
    <h2>Connexion</h2>
    <% include ./components/form-login.ejs %>
</main>

<% include ./components/footer.ejs %>

<script type="text/javascript" src="./scripts/login.js"></script>

