<%- include('./components/header.ejs', { title: "Mon compte" }) %>

<main>
    <h2>Mon compte</h2>
    <% include ./components/accountDetails.ejs %>
</main>

<% include ./components/footer.ejs %>


<script type="text/javascript" src="./scripts/me.js"></script>