:root {
    --main-color:   rgb(194, 0, 201);
    --color-text : rgb(68, 68, 68) ;
    --color-title : rgb(41, 41, 41) ;
    --color-white : #FFFFFF;
  }

*{
    /* Gestion de la taille des blocs */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* Suppression des marges */
    padding: 0;
    margin: 0;
}

html{
    /* Configuration de la valeur 1rem = 10px */
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: var(--color-text);
}    
 
h1, h2{
    font-weight: 700;
}
h1{ font-size: 3rem;

}

h2{
    font-size: 2.5rem;
    margin: 4rem 0 1rem 0; 
    padding-bottom: 2rem;
}

nav a{
    text-decoration: none;
    color: var(--color-white);
}

.logOut, button{
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    background-color: var(--main-color);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border:  none;
    font-size: 2rem;
}
ul{
    list-style: none;
}

ul li{
    padding-bottom: 2rem;
}

nav ul li{
    display: inline-block;
}

nav li{
    margin-right: 2rem;
}

img{
    max-width: 60%;
}

.error{
    color: rgb(245, 67, 67);
    display: block;
}

.none{
    display: none;
}

form{
    padding-top: 1rem;
}
input{
    display: block;
    padding: 1rem;
    width: 20%;
    margin: 1rem 0 2.5rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: .1rem solid var(--color-text);
}

main{
    max-width: 90%;
    margin: 3rem auto;  
    padding-bottom: 1rem;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section article:last-of-type{
    text-align: center;
}

header, nav, footer{
    text-align: center;
    width: 100%;
    background-color: var(--main-color);
    color: var(--color-white);
}

header{
    padding: 3rem 0 1rem 0;
}
nav{
    padding-top: 1.5rem;
}
footer{
    bottom: 0;
    position: fixed;
    padding: 1.5rem;
    font-size: 1.5rem;
}